---
layout: layouts/home.njk
permalink: /bookmarks/
eleventyNavigation:
  key: Archive
  order: 2
---

<h1>Bookmarks</h1>

{% set bookmarkslist = collections.bookmarks %}
{% include "bookmarkslist.njk" %}
