---
layout: layouts/home.njk
permalink: /bookmarks/
eleventyNavigation:
  key: Bookmarks
  order: 10
---

<h1>Bookmarks</h1>

{% set bookmarkslist = collections.bookmarks %}
{% include "bookmarkslist.njk" %}
